* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
  background: rgb(20,81,221);
  background: linear-gradient(90deg, rgba(20,81,221,1) 20%, rgba(70,202,252,1) 100%);
  margin: 0;
  text-align: center;
  min-height: 40vh;
  padding-top: 15px;
}

h2{
	padding: 15px;
}

form {
	padding: 19px;
}
