* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	background-image: linear-gradient(to right, #473cde, #cbcfeb);
	color: white;
  margin: 0;
	text-align: center;
  min-height: 40vh;
	padding-top: 15px;
}

h2{
	padding: 15px;
}

form {
	padding: 19px;
}
